body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #22bf9d;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq h2 {
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    font-weight: bold;
    cursor: pointer;
    color: #55ba88;
}

.faq-answer {
    display: none;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #22bf9d;
    color: white;
}
img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}
.submit-question iframe {
    width: 100%;
    max-width: 100%; /* O el ancho máximo que prefieras */
    height: 510px; /* O el alto que prefieras */
    border: none;
}